{% extends 'kaska_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Player Info{% endblock %}
{% block page_name %}{% url 'players:roster' %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <img src="{% if player.photo %}{{ player.photo }}{% else %}{% static 'frontend/images/photo_placeholder.jpg' %}{% endif %}" alt="" class="img-responsive" style="width:300px; height: auto;"> </br>
                {% if player.is_student %}
                <div class="col-md-5 student">
                Студент
                </div>
                <div class="col-md-2">
                </div>
                {% else %}
                {% endif %}
                {% if player.is_paid %}
                <div class="col-md-5 oplatil">
                Оплатил
                </div>
                {% else %}
                {% endif %}
            </div>

            <div class="col-md-8">
                <h2>{{ player.get_full_name }} <a href="https://vk.com/id{{ player.vk_id }}">
                <img src="{% static 'frontend/images/vk.png' %}" alt="Профиль ВК" width="40" height="40" border="0">
                </a></h2>
                <h3>{{ player.university }}</h3>
                <br/>
                <h4>Опыт игры: <strong>{{ player.get_experience_display }}</strong></h4>
                <h4>Позиция на поле: <strong>{{ player.get_position_display }}</strong></h4>
                <h4>Любимый бросок: <strong>{{ player.get_fav_throw_display }}</strong></h4>
                <h4>Стиль игры: <strong>{{ player.get_style_display }}</strong></h4> <br/>
                {% if this_player %}<a href="{% url 'players:change' %}">Изменить профиль</a>{% endif %}
            </div>

        </div>
    </div>

{% endblock %}