{% extends 'kaska_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Player Info{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'kaska.css' %}" />

    <div class="info_player">
        <img class="player_photo" src="{% if player.photo %}{{ player.photo }}{% else %}{% static 'frontend/images/photo_placeholder.jpg' %}{% endif %}" />

        <p class="name"><a href="{{ player.vk_link }}">{{ player.get_full_name }}</a></p>
        {% if this_player %}
            <a class="change_link" href="{% url 'players:change' %}">{% trans "Change profile" %}</a>
        {% endif %}

        <p class="feature">University: <span class="f_value">{{ player.university }}</span></p>
        <p class="feature">Experience: <span class="f_value">{{ player.experience }}</span></p>
        <p class="feature">Favourite position: <span class="f_value">{{ player.get_position_display }}</span></p>
        <p class="feature">Favourite throw: <span class="f_value">{{ player.fav_throw }}</span></p>
        <p class="feature">Style of play: <span class="f_value">{{ player.get_style_display }}</span></p>

        <p class="feature">Team: <span class="f_value">No team right now</span></p>
        <p class="feature">Paid: <span class="f_value">{% if player.is_paid %}Yes{% else %}No{% endif %}</span></p>
        <p class="feature">Student: <span class="f_value">{% if player.is_student %}Yes{% else %}No{% endif %}</span></p>

    </div>

{% endblock %}