{% extends 'kaska_base.html' %}
{% load staticfiles %}

{% block title %}Change Info{% endblock %}

{% block content %}
    <img class="player_photo" src="{% if player_photo %}{{ player_photo }}{% else %}{% static 'frontend/images/photo_placeholder.jpg' %}{% endif %}" />

    <form action="{% url 'players:change' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><label for="password_change">To change password</label> <a href="{% url 'players:password_change' %}">use this form</a></p>
        <input type="submit" value="Go" />
    </form>
{% endblock %}
