{# {% extend 'kaska.html' %} #}
{# {% block main_data %} #}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'kaska.css' %}" />

<div class="players">
    <form action="{% url 'players:roster' %}" method="get">
        {{ search_form }}
        <input type="submit" value="Go" />
    </form>

    {% if not players_list %}
        <div class="no_players">There is no players for your request</div>
    {% endif %}

    {% for player in players_list %}
        <div class="player{% if user_id == player.id %} highlighted{% endif %}" id="{{ player.id }}">
            {% if player.photo %}<img src="{{ player.photo }}"/>
            {% else %}<img src="http://www.exaclair.com/images/placeholders/team-placeholder.jpg"/>
            {% endif %}

            <a href="{% url 'players:info' player.id %}">{{ player.get_full_name }}</a>
            <p class="university">{{ player.university }}</p>

            {% if player.is_student %}<div class="student">1</div>
            {% else %}<div class="non-student">0</div>
            {% endif %}

            {% if player.is_paid %}<div class="paid">1</div>
            {% else %}<div class="non-paid">0</div>
            {% endif %}

        </div>
    {% endfor %}

</div>
{#{% endblock %}#}