{% extends 'kaska_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% url 'players:roster' %}{% endblock %}

{% block content %}
    <div class="players">
        <form action="{% url 'players:roster' %}" method="get">
            {{ search_form }}
            <input type="submit" value={% trans "Go" %} />
        </form>

        {% if not players_list %}
            <div class="no_players">{% trans 'There is no players for your request' %}</div>
        {% endif %}

        {% for player in players_list %}
            <div class="player{% if user_id == player.id %} highlighted{% endif %}" id="{{ player.id }}">
                <a href="{% url 'players:info' player.id %}">
                    <img src="{% if player.photo %}{{ player.photo }}{% else %}{% static 'frontend/images/photo_placeholder.jpg' %}{% endif %}" />

                    {{ player.get_full_name }}
                </a>
                <p class="university">{{ player.university }}</p>

                {% if player.is_student %}<div class="student">1</div>
                {% else %}<div class="non-student">0</div>
                {% endif %}

                {% if player.is_paid %}<div class="paid">1</div>
                {% else %}<div class="non-paid">0</div>
                {% endif %}

            </div>
        {% endfor %}

    </div>
{% endblock %}