

.players {
    max-width: 1500px;
    
}

.player {
    display: flex;
}

.player a{
    text-decoration: none;
}

.player.highlighted a {
    font-weight: bold;
}

.player img {
    max-height: 50px;
    border-radius: 50%;
}


.info_player .photo {
    width: 30%;
    display: block;
    float: left;
}

.info_player .name {
    display: inline-block;
}

.info_player .change_link {
    font-size: x-small;
}

.info_player a {
    text-decoration: none;
}

.info_player .feature {
    text-decoration: darkcyan;
    font-style: italic;
}

.info_player .f_value {
    font-style: normal;
}