{% extends 'kaska_base.html' %}
{% load staticfiles %}
{% block page_name %}{% url 'info' %}{% endblock %}

{% block articles %}
    <!-- Content -->

    <article class="box post" id="support">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3 style="text-align: center;">
                            Если ты ошибся при заполнении формы регистрации или ошибка возникла на нашем сайте, пиши сюда - <a href="mailto:support@kaska.me" style="color: #d52349;">support@kaska.me </a>
                        </h3>
                    </header>
                </div>
            </div>
        </div>
    </article>

    <article class="box post">
        <div class="container" style="padding-right: 40px; padding-left: 40px;">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 style="text-align: center;">
                            Оплата участия
                        </h2>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="justify" style="padding-right: 20px;">
                    &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Дружище, участие в турнире платное. Взнос составляет всего <strong>600 рублей</strong> при оплате <strong>до 27 ноября</strong> и 700 рублей при оплате с 28 ноября до 6 декабря. Мы очень просим тебя оплатить участие как можно скорее. Это позволит нам уже сейчас активно заниматься организацией турнира и сделать все как можно лучше и интереснее. Перевести взнос на карту или отдать лично в руки ты можешь одному из наших организаторов. Пожалуйста, укажи свои ФИО и телефон, если делаешь перевод на карту. Это позволит очень быстро подвердить твое участие.
                    </p>
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <h3 style="margin-top: 20px; margin-bottom: 20px;">Реквизиты оплаты </h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                            <img src="{% static 'frontend/images/lida-ava.png' %}" class="avatar" />
                            </div>
                            <div class="col-md-12">
                                <p class="justify" style="text-align: center;">
                                    <strong>Лидия Ермалюк, директор турнира</strong> <br><br>
                                    <strong>Карта Cбербанк: </strong>5469 4000 1482 8466 <br>
                                    <strong>Карта Райфайзен банк: </strong>5100 6904 7985 0931<br>
                                    <strong>Телефон:</strong> +7 915 266-99-63 <br>
                                    <strong>Вконтакте: </strong> <a href="https://vk.com/id3544458">vk.com/id3544458</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="col-md-12">
                            <img src="{% static 'frontend/images/poly-ava.png' %}" class="avatar" />
                            </div>
                            <div class="col-md-12">
                                <p class="justify" style="text-align: center;">
                                    <strong>Полина Губанова, организатор</strong> <br><br>
                                    <strong>28-29 ноября будет здесь: </strong> турнир <a href="http://forum.rfdf.ru/index.php?s=e844a50a004e8161aa0211984d8ad1a7&showtopic=9823" target="_blank">«Запуск»</a>, Пущино, команда SorryBro <br>
                                    <strong>5-6 декабря будет здесь: </strong> турнир <a href="https://vk.com/stud_bel" target="_blank">«Best2015»</a>, Белгород, команда МГТУ-гамма <br>
                                    <strong>Телефон:</strong> +7 916 114-40-24  <br>
                                    <strong>Вконтакте: </strong> <a href="https://vk.com/id52384189">vk.com/id52384189</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="box post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3 style="text-align: center;">
                            Этот раздел дополнится всей информацией. <br>Где, как, почему — все будет здесь
                        </h3>
                    </header>
                </div>
            </div>
        </div>
    </article>
{% endblock %}