{% extends 'kaska_base.html' %}

{% block page_name %}{% url 'info' %}{% endblock %}

{% block articles %}
    <!-- Content -->
    <article class="box post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 style="text-align: center;">
                            Этот раздел дополнится всей информацией. Где, как, почему - все будет здесь
                        </h2>
                    </header>
                </div>
            </div>
        </div>
    </article>

    <article class="box post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h2 style="text-align: center;">
                            Оплата участия
                        </h2>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Дружище, участие в турнире платное. Взнос составляет всего <strong>600 рублей.</strong> Мы очень просим тебя оплатить участие как можно скорее. Это позволит нам уже сейчас активно заниматься организацией турнира для тебя. При оплате, пожалуйста, укажи ФИО и свой телефон, это позволит быстрее подтвердить статус участника турнира.
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <h3 style="margin-top: 20px; margin-bottom: 20px;">Реквизиты оплаты </h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Бражник Александр</strong> <br>
                                    Карта СБЕРБАНК-Москва <br>
                                    5469 3800 2163 7169 <br>
                                    8-905-555-55-34 <br>
                                    'Запуск-2015', 28-29 ноября, Пущино-Серпухов
                        </div>
                        <div class="col-md-3">
                            <strong>Губанова Полина</strong> <br>
                                    8-916-114-40-24 <br>
                                    -"Запуск ", Пущино, 28-29 ноября, команда SorryBro  <br>
                                    -"Best2015", Белгород, 5-6 декабря, команда МГТУ-гамма

                        </div>
                        <div class="col-md-3">
                            <strong>Кытманов Илья</strong> <br>
                                    8-965-113-21-14 <br>
                                    КС(Нижний Новгород) <br>
                                    Запуск ", Пущино, 28-29 ноября <br>
                                    "Best2015", Белгород, 5-6 декабря
                        </div>
                        <div class="col-md-3">
                            <strong>Ермалюк Лидия</strong> <br>
                                8-915-266-99-63 <br>
                                Карта Райффайзенбанк Москва <br>
                                Номер карты 5100 6904 7985 0931<br>
                                Номер счета 4081 7810 1010 0051 5634
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}