{#TODO static files!!#}

{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}Kaska 2015{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'frontend/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'frontend/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'frontend/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">
						<!-- Logo -->
							<div id="header">
							<a href="{% url 'index' %}"><img src="{% static 'frontend/images/kaska-logo-15-clear.png' %}" style="width:150px;height:auto;"></a> <br>
							</div>
						<!-- Nav -->
                            {% block nav %}
							<nav id="nav">
								<ul>
									<li class="current"><a href="{% url 'index' %}">Главная</a></li>
									<li class="first"><a href="{% url 'index' %}">Турнирная сетка</a></li>
									<li class="second"><a href="{% url 'players:roster' %}">Игроки</a></li>
									<li class="third"><a href="{% url 'index' %}">Команды</a></li>
									<li class="fourth"><a href="{% url 'index' %}">Информация</a></li>
									<li class="fifth"><a href="{% url 'index' %}">Медиа</a></li>
								</ul>
							</nav>
                            {% endblock %}
						<!-- Login -->
                            {% block login %}

                            {% endblock %}
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						{% block content %}{% endblock %}
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container">						
						<div class="row">
							<div class="4u 12u(mobile)">
								<section>
									<header>
										<h2>Социальные сети</h2>
									</header>
									<ul class="social">
										<li><a class="icon fa-facebook" href="#"><span class="label">Вконтакте</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>Mail</h3>
											<p><a href="#">kaskaultimate@gmail.com</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>(800) 000-0000</p>
										</li>
									</ul>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Каска 2015</li><li>Design: <a href="{% url 'index' %}">Наш крутой сайт!</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
			<script src="{% static 'frontend/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'frontend/js/skel.min.js' %}"></script>
			<script src="{% static 'frontend/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'frontend/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'frontend/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'frontend/js/main.js' %}"></script>

	</body>
</html>