{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% trans "Kaska" %} 2015{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!--[if lte IE 8]><script src="{% static 'frontend/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{%  static 'frontend/assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'frontend/assets/css/ie8.css' %}" /><![endif]-->

	</head>
	<body class="no-sidebar">

	<p hidden>{% block page_name %}{% url 'index' %}{% endblock %}</p>

		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
						<h1 class="ribbon">Каска 2015</h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="{% url 'index' %}">{% trans "Main" %}</a></li>
									<li><a href="{% url 'index' %}">{% trans "Gallery" %}</a></li>
									<li><a href="{% url 'players:roster' %}">{% trans "Players" %}</a></li>
									<li><a href="{% url 'index' %}">{% trans "Teams" %}</a></li>
									<li><a href="{% url 'index' %}">{% trans "Tournament schedule" %}</a></li>
									<li><a href="{% url 'index' %}">{% trans "Information" %}</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="containerold">
					<!-- Content -->
						<article class="box post">
							{% block content %}{% endblock %}
						</article>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" class="container">
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; {% trans "Kaska" %} 2015</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->

			<script src="{% static 'frontend/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'frontend/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'frontend/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'frontend/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'frontend/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'frontend/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'frontend/assets/js/main.js' %}"></script>
			<script src="{% static 'frontend/assets/js/menu_selector.js' %}"></script>
			<script>
				$(document).on('change', '.btn-file :file', function() {
					var input = $(this),
					  numFiles = input.get(0).files ? input.get(0).files.length : 1,
					  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
					input.trigger('fileselect', [numFiles, label]);
				});

				$(document).ready( function() {
					$('.btn-file :file').on('fileselect', function(event, numFiles, label) {

						var input = $(this).parents('.input-group').find(':text'),
							log = numFiles > 1 ? numFiles + ' files selected' : label;

						if( input.length ) {
							input.val(log);
						} else {
							if( log ) alert(log);
						}

					});
				});
			</script>

	</body>
</html>